In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv("/Users/mike/diamonds.csv")

In [47]:
values, counts = np.unique(df["cut"], return_counts=True)
counts_df = pd.DataFrame(np.asarray((values, counts)).T)
counts_df

           0      1
0       Fair   1610
1       Good   4906
2      Ideal  21551
3    Premium  13791
4  Very Good  12082

In [49]:
counts_df_2 = pd.DataFrame(counts, index = values, columns=["count"])
counts_df_2

           count
Fair        1610
Good        4906
Ideal      21551
Premium    13791
Very Good  12082